USE [MisFinanzasDB]
GO
/****** Object:  Table [dbo].[CategoriaMontoes]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaMontoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [float] NOT NULL,
	[Categoria_Id] [int] NULL,
	[Presupuesto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.CategoriaMontoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastoes]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [float] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[MontoEnPesos] [float] NOT NULL,
	[Fecha] [datetime] NULL,
	[Fecha1] [int] NULL,
	[Categoria_Id] [int] NULL,
	[Moneda_Id] [int] NULL,
	[TipoGasto] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Gastoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Simbolo] [nvarchar](max) NULL,
	[Cotizacion] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Monedas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabraClaves]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabraClaves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [nvarchar](max) NULL,
	[Categoria_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PalabraClaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuestoes]    Script Date: 11/25/2020 9:59:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuestoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Presupuestoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Monedas] ON 

INSERT [dbo].[Monedas] ([Id], [Nombre], [Simbolo], [Cotizacion]) VALUES (1, N'Peso Uruguayo', N'UYU', 1)
SET IDENTITY_INSERT [dbo].[Monedas] OFF
GO
ALTER TABLE [dbo].[CategoriaMontoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[CategoriaMontoes] CHECK CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Categorias_Categoria_Id]
GO
ALTER TABLE [dbo].[CategoriaMontoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Presupuestoes_Presupuesto_Id] FOREIGN KEY([Presupuesto_Id])
REFERENCES [dbo].[Presupuestoes] ([Id])
GO
ALTER TABLE [dbo].[CategoriaMontoes] CHECK CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Presupuestoes_Presupuesto_Id]
GO
ALTER TABLE [dbo].[Gastoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Gastoes_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Gastoes] CHECK CONSTRAINT [FK_dbo.Gastoes_dbo.Categorias_Categoria_Id]
GO
ALTER TABLE [dbo].[Gastoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Gastoes_dbo.Monedas_Moneda_Id] FOREIGN KEY([Moneda_Id])
REFERENCES [dbo].[Monedas] ([Id])
GO
ALTER TABLE [dbo].[Gastoes] CHECK CONSTRAINT [FK_dbo.Gastoes_dbo.Monedas_Moneda_Id]
GO
ALTER TABLE [dbo].[PalabraClaves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PalabraClaves_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[PalabraClaves] CHECK CONSTRAINT [FK_dbo.PalabraClaves_dbo.Categorias_Categoria_Id]
GO
