USE [MisFinanzasDB]
GO
/****** Object:  Table [dbo].[CategoriaMontoes]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaMontoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [float] NOT NULL,
	[Categoria_Id] [int] NULL,
	[Presupuesto_Id] [int] NULL,
 CONSTRAINT [PK_dbo.CategoriaMontoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastoes]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [float] NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[MontoEnPesos] [float] NOT NULL,
	[Fecha] [datetime] NULL,
	[Fecha1] [int] NULL,
	[Categoria_Id] [int] NULL,
	[Moneda_Id] [int] NULL,
	[TipoGasto] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Gastoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Simbolo] [nvarchar](max) NULL,
	[Cotizacion] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Monedas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabraClaves]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabraClaves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [nvarchar](max) NULL,
	[Categoria_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PalabraClaves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuestoes]    Script Date: 11/26/2020 12:36:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuestoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Presupuestoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoriaMontoes] ON 

INSERT [dbo].[CategoriaMontoes] ([Id], [Monto], [Categoria_Id], [Presupuesto_Id]) VALUES (1, 0, 1, 1)
INSERT [dbo].[CategoriaMontoes] ([Id], [Monto], [Categoria_Id], [Presupuesto_Id]) VALUES (2, 0, 2, 1)
INSERT [dbo].[CategoriaMontoes] ([Id], [Monto], [Categoria_Id], [Presupuesto_Id]) VALUES (3, 0, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[CategoriaMontoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Conciertos')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Impuestos')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (3, N'Auto')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Gastoes] ON 

INSERT [dbo].[Gastoes] ([Id], [Monto], [Descripcion], [MontoEnPesos], [Fecha], [Fecha1], [Categoria_Id], [Moneda_Id], [TipoGasto]) VALUES (1, 1500, N'Luz', 1500, NULL, 2, 5, 1, N'Recurrente')
INSERT [dbo].[Gastoes] ([Id], [Monto], [Descripcion], [MontoEnPesos], [Fecha], [Fecha1], [Categoria_Id], [Moneda_Id], [TipoGasto]) VALUES (2, 9000, N'Cuota', 9000, NULL, 10, 7, 1, N'Recurrente')
INSERT [dbo].[Gastoes] ([Id], [Monto], [Descripcion], [MontoEnPesos], [Fecha], [Fecha1], [Categoria_Id], [Moneda_Id], [TipoGasto]) VALUES (3, 5000, N'Mutualista', 5000, NULL, 3, 8, 1, N'Recurrente')
GO
SET IDENTITY_INSERT [dbo].[Gastoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Monedas] ON 

INSERT [dbo].[Monedas] ([Id], [Nombre], [Simbolo], [Cotizacion]) VALUES (1, N'Peso Uruguayo', N'UYU', 1)
INSERT [dbo].[Monedas] ([Id], [Nombre], [Simbolo], [Cotizacion]) VALUES (2, N'Euro', N'€', 50)
INSERT [dbo].[Monedas] ([Id], [Nombre], [Simbolo], [Cotizacion]) VALUES (3, N'Dolar', N'$', 45)
SET IDENTITY_INSERT [dbo].[Monedas] OFF
GO
SET IDENTITY_INSERT [dbo].[PalabraClaves] ON 

INSERT [dbo].[PalabraClaves] ([Id], [Palabra], [Categoria_Id]) VALUES (1, N'LA VELA', 1)
INSERT [dbo].[PalabraClaves] ([Id], [Palabra], [Categoria_Id]) VALUES (2, N'NAFTA', 3)
INSERT [dbo].[PalabraClaves] ([Id], [Palabra], [Categoria_Id]) VALUES (3, N'JEANS', 6)
SET IDENTITY_INSERT [dbo].[PalabraClaves] OFF
GO
SET IDENTITY_INSERT [dbo].[Presupuestoes] ON 

INSERT [dbo].[Presupuestoes] ([Id], [Fecha]) VALUES (1, CAST(N'2020-11-25T23:16:15.000' AS DateTime))
INSERT [dbo].[Presupuestoes] ([Id], [Fecha]) VALUES (2, CAST(N'2020-10-23T23:16:15.000' AS DateTime))
INSERT [dbo].[Presupuestoes] ([Id], [Fecha]) VALUES (3, CAST(N'2020-09-01T23:16:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Presupuestoes] OFF
GO
ALTER TABLE [dbo].[CategoriaMontoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[CategoriaMontoes] CHECK CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Categorias_Categoria_Id]
GO
ALTER TABLE [dbo].[CategoriaMontoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Presupuestoes_Presupuesto_Id] FOREIGN KEY([Presupuesto_Id])
REFERENCES [dbo].[Presupuestoes] ([Id])
GO
ALTER TABLE [dbo].[CategoriaMontoes] CHECK CONSTRAINT [FK_dbo.CategoriaMontoes_dbo.Presupuestoes_Presupuesto_Id]
GO
ALTER TABLE [dbo].[Gastoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Gastoes_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Gastoes] CHECK CONSTRAINT [FK_dbo.Gastoes_dbo.Categorias_Categoria_Id]
GO
ALTER TABLE [dbo].[Gastoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Gastoes_dbo.Monedas_Moneda_Id] FOREIGN KEY([Moneda_Id])
REFERENCES [dbo].[Monedas] ([Id])
GO
ALTER TABLE [dbo].[Gastoes] CHECK CONSTRAINT [FK_dbo.Gastoes_dbo.Monedas_Moneda_Id]
GO
ALTER TABLE [dbo].[PalabraClaves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PalabraClaves_dbo.Categorias_Categoria_Id] FOREIGN KEY([Categoria_Id])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[PalabraClaves] CHECK CONSTRAINT [FK_dbo.PalabraClaves_dbo.Categorias_Categoria_Id]
GO
